<!--DOCTYPE html-->
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>FrontEnd Code Challenge using Bootstrap</title>
		<!-- Bootstrap -->
	<link href="css/bootstrap.min.css" rel="stylesheet">		
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="app.js"></script>
</head>

<body ng-app="frontend">  
<div ng-controller="WebController">
	
	<div class="container" id="menuBar">
	  <div class="dropdown">
			<div style="float:left;padding-right:20px;">
				<h4 style="color:white;">Top Rated Amenities In and Around</h4>
			</div>
			<div style="padding-top:18px">
				<select class ng-model="selectedName.selectedOption" ng-options="x for x in names" ng-change="getData(selectedName.selectedOption)">
					<option value="" disabled selected>Please Select</option>
				</select>
			</div>
	  </div>
	</div>

<div class="container contentContainer" id="topContainer">
	<div class="row">
		<div class="col-xs-12">
			<div class="col-xs-offset-2 col-xs-8" id="topRow">
					<!--Horizontal Carousel-->
				<div id="myCarousel1" class="col-xs-7 col-xs-offset-0 carousel slide">
				<h4>What's the highest rated restaurant in this area?</h4>
								 
				<!-- myCarousel-1 items -->
					<div class="carousel-inner" >
					<div class="item" ng-class="{active:!$index}" ng-repeat="x in restaurant.data.restaurant.businesses">
						<img src="{{ x.image_url }}" class="img-responsive" style="height:250px;">
						{{ x.location.display_address[0] +", "+ x.location.display_address[1]+", "+ x.location.display_address[2] }}
					</div>			 
					</div>
				<!--/carousel-inner-->
				<a class="right carousel-control" href="#myCarousel1" role="button" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
				</div>
				<!--End Horizontal Carousel-->		 
			
			<!--Vertical Carousel-->
	<div class="row well"> <div class="col-xs-4">
                <div id="myCarousel" class="vertical-slider carousel vertical slide" data-ride="carousel">
            <div class="row">
                <div class="col-md-12">
                    <span data-slide="next" class="btn-vertical-slider glyphicon glyphicon-circle-arrow-up "
                        style="color: Black; font-size: 30px"></span>  
                </div>
                
            </div>
            <br />
            <!-- Vertical Carousel Items -->
            <div class="carousel-inner">
                <div class="item active">
                    <div class="row">
                        <div class="col-xs-8">
                            <img src="/SNTMedia/Restaurants.JPG" class="thumbnail" alt="Image"/>
                        </div>
                       
                    </div>
                    <!--/row-fluid-->
                </div>
                <!--/item-->
                <div class="item ">
                    <div class="row">
                        <div class="col-xs-8">
                            <img src="/SNTMedia/Groceries.JPG" class="thumbnail" alt="Image"/>
                        </div>
              
                    </div>
                    <!--/row-fluid-->
                </div>
                <!--/item-->
                <div class="item ">
                    <div class="row">
                      <div class="col-xs-8">
                            <img src="/SNTMedia/Banks.JPG" class="thumbnail" alt="Image" />
                        </div>
                       
                    </div>
                    <!--/row-fluid-->
                </div>
                <!--/item-->
            </div>
            <div class="row">
                <div class="col-md-12">
                    <span data-slide="prev" class="btn-vertical-slider glyphicon glyphicon-circle-arrow-down"
                        style="color: Black; font-size: 30px"></span>
                </div>
            </div>
        </div>
</div></div>
			<!--End Vertical Carousel-->

<!--Restaurants-->
<div ng-controller="restCtrl" >
	<div class="navbar navbar-inverse navbar-fixed-left">
	  <ul class="nav navbar-nav">
	  <li ng-click="rest()"><a href="#"><i class="fa fa-home"></i><span> Restaurants <p style="float:right; padding-left:495px">Click To View All</p></span></a></li>
	  </ul>
	  <ul class="list-unstyled" ng-repeat="x in restaurant.data.restaurant.businesses | orderBy: '-rating'" ng-show="visible"> 
		<table>
			</br></br>
			<tr><td><li><b>Restaurant Name:</b>
			{{ x.name }}</li></td></tr>
			
			<tr><td><li><img src="{{ x.rating_img_url }}"></img>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Reviews Count:</b> {{ x.review_count }}</li></td></tr>
			
			<tr><td><li><b>Address:</b>
			{{ x.location.display_address[0] +", "+ x.location.display_address[1]+", "+ x.location.display_address[2] }}</li></td></tr>
			
			<tr><td><li><b>Phone:</b>
			{{ x.phone }}</li></td></tr>
			
		</table></br>
	</ul>
	</div>
</div>
<!---End Restaurants-->

<!--Grocers-->
<div ng-controller="groceryCtrl" >
	<div class="navbar navbar-inverse navbar-fixed-left">
	  <ul class="nav navbar-nav">
	  <li ng-click="grocery()"><a href="#"><i class="fa fa-cart-plus"></i><span> Grocers <p style="float:right; padding-left:520px">Click To View All</p></span></a></li>
	  </ul>
	  <ul class="list-unstyled" ng-repeat="x in grocers.data.grocers.businesses | orderBy: '-rating'" ng-show="visible"> 
		<table>
			</br></br>
			<tr><td><li><b>Store Name:</b>
			{{ x.name }}</li></td></tr>
			
			<tr><td><li><img src="{{ x.rating_img_url }}"></img>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Reviews Count:</b> {{ x.review_count }}</li></td></tr>
			
			<tr><td><li><b>Address:</b>
			{{ x.location.display_address[0] +", "+ x.location.display_address[1]+", "+ x.location.display_address[2] }}</li></td></tr>
			
			<tr><td><li><b>Phone:</b>
			{{ x.phone }}</li></td></tr>
						
		</table></br>
	</ul>
	</div>
</div>
<!--End Grocers-->

<!--Banks-->
<div ng-controller="bankCtrl" >
	<div class="navbar navbar-inverse navbar-fixed-left">
	  <ul class="nav navbar-nav">
	  <li ng-click="bank()"><a href="#"><i class="fa fa-briefcase"></i><span> Banks <p style="float:right; padding-left:530px">Click To View All</p></span></a></li>
	  </ul>
	  <ul class="list-unstyled" ng-repeat="x in banks.data.banks.businesses | orderBy: '-rating'" ng-show="visible"> 
		<table>
			</br></br>
			<tr><td><li><b>Bank Name:</b>
			{{ x.name }}</li></td></tr>
			
			<tr><td><li><img src="{{ x.rating_img_url }}"></img>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Reviews Count:</b> {{ x.review_count }}</li></td></tr>
			
			<tr><td><li><b>Address:</b>
			{{ x.location.display_address[0] +", "+ x.location.display_address[1]+", "+ x.location.display_address[2] }}</li></td></tr>
			
			<tr><td><li><b>Phone:</b>
			{{ x.phone }}</li></td></tr>
						
		</table></br>
	</ul>
	</div>
</div>
<!--End Banks-->

<!--Other Amenities-->
<div ng-controller="otherCtrl" >
	<div class="navbar navbar-inverse navbar-fixed-left">
	  <ul class="nav navbar-nav">
	  <li ng-click="other()"><a href="#"><i class="fa fa-plus-square"></i><span> Other Amenities(NONE AVAILABLE) <p style="float:right; padding-left:345px">Click To View All</p></span></a></li>
	  </ul>
	  <ul class="list-unstyled" ng-repeat="x in others.data.others.businesses | orderBy: '-rating'" ng-show="visible"> 
		<table>
			</br></br>
			<tr><td><li><b>Name:</b>
			{{ x.name }}</li></td></tr>
			
			<tr><td><li><img src="{{ x.rating_img_url }}"></img>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Reviews Count:</b> {{ x.review_count }}</li></td></tr>
			
			<tr><td><li><b>Address:</b>
			{{ x.location.display_address[0] +", "+ x.location.display_address[1]+", "+ x.location.display_address[2] }}</li></td></tr>
			
			<tr><td><li><b>Phone:</b>
			{{ x.phone }}</li></td></tr>
						
		</table></br>
	</ul>
	</div>
</div>
<!--End Other Amenities-->

			</div>
		</div>
	</div>
</div>
</div><!--WebController Ends Here-->

<style>
	#myCarousel{
		float:right;
	}

	h4{
		font-size:1em;
		font-weight:bold;
		margin-top:20px;
	}
	#topContainer{
		background-image:url("Background.jpg");
		height:2000px;
		width:100%;
		background-size:cover;
		padding-top:20px;
	}
	#menuBar{
		background-image:url("Background.jpg");
		height:50px;
		width:100%;
		background-size:cover;
		
	}
	#topRow{
		margin-top:50px;
		text-align:center;
	}
<!-- CSS used here will be applied after bootstrap.css -->
.navbar-fixed-left {
  width: 140px;
  border-radius: 0;
  height: 100%;
  margin-top:0px
}


<!-- Vertical Carousel CSS -->
.btn-vertical-slider{ margin-left:10px; cursor:pointer;}

a {  cursor:pointer;}

.carousel.vertical .carousel-inner .item {
  -webkit-transition: 0.6s ease-in-out top;
     -moz-transition: 0.6s ease-in-out top;
      -ms-transition: 0.6s ease-in-out top;
       -o-transition: 0.6s ease-in-out top;
          transition: 0.6s ease-in-out top;
}

 .carousel.vertical .active {
  top: 0;
}

 .carousel.vertical .next {
  top: 100%;
}

 .carousel.vertical .prev {
  top: -100%;
}

 .carousel.vertical .next.left,
.carousel.vertical .prev.right {
  top: 0;
}

 .carousel.vertical .active.left {
  top: -100%;
}

 .carousel.vertical .active.right {
  top: 100%;
}

 .carousel.vertical .item {
    left: 0;
}

<!-- Table Data CSS -->
table, th , td  {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}​

</style>

	
	
<script type="text/javascript">
	$(".contentContainer").css("min-height",$(window).height());
	
	/*Horizontal & Vertical Carousel JavaScript*/
	$(document).ready(function() {
		$('#myCarousel1').carousel({
		interval: 10000
		})
			$('.btn-vertical-slider').on('click', function () {
			
			if ($(this).attr('data-slide') == 'next') {
				$('#myCarousel').carousel('next');
			}
			if ($(this).attr('data-slide') == 'prev') {
				$('#myCarousel').carousel('prev')
			}
			interval: 10000
		});
		
	});

</script>

</body>
</html>
